/* Navbar.css */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 98%;
    margin-left: 1%;
    margin-right: 1%;
    padding: 10px 20px;
    background-color: #0062ffbb;
    color: white;
  }
  
  .navbar-icon {
    margin-left: 2%;
    width: 10%;
    height: 10%;
  }
  
  .navbar-links {
    list-style: none;
    display: flex;
  }
  
  .navbar-links li {
    margin: 0 10px;
  }
  
  .navbar-links a {
    text-decoration: none;
    color: white;
    font-weight: bold;
  }
  
  .greet{
    position: absolute;
    right: 28%;
    font-size: 150%;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
  }
  /* Add more styles as needed */
  